/*{
    margin: 0;
    padding: 0;
}*/

/*Navigation Bar*/
#navbar{
    display: flex;
    align-items: center;
    
}

/*Navigation Bar:Logo and Image*/
#logo{
    margin: 16px 16px;
  

}
#logo img{
    margin: 27px 27px;
    height: 150px;

}
/*CSS Vriables*/
:root{
     --navbar-height:59px;
}
/*Navigation Bar: List Styling*/
#navbar{

    position: relative;
}
#navbar ul{
    display: flex;
    /*color: red*/;
}
#navbar ul li{
    
    list-style: none;
    font-size: 40px;

}



#navbar::before{
    content: "";
   /*3 background-color: rgb(187, 129, 242);*/
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.3 ;
}
#navbar ul li a{
    color: green;
    display: block;
    padding: 5px 30px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color:white;
    background-color: black;
}
/*Home Section*/
#home{
    display:flex;
    flex-direction: column;
    padding: 70px 170px;
    height: 555px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url("../Images/Background/1.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1000px;
    width: 100%;
    z-index: -1;
    opacity:0.5;
    
}
#home h1{
    color: rgb(183, 41, 41);
    text-align: center;
   /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}
#home p{
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Services Section*/
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid black;
    padding: 60px;
    margin: 45px 61px;
    margin-bottom: 10px;
    border-radius: 28px;
    background: rgb(253, 214, 220);
}
#services .box img{
    height: 120px;
    margin: auto;
    display: block;
}
#services.box p{
    font-family: Arial, Helvetica, sans-serif;
}
/*Client Section*/
#clients-section{
/*height: 300px;*/
position: relative;
}
#clients-section::before{
    content: "";
    background: url("../Images/Background/10.jpg")  no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.2;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients-item{
    padding: 5px 65px;
}
#clients img{
    height: 80px;
}
/*Contacts Section*/
#contact{
    position: relative;
}
#contact::before{
    content: "";
    background: url("../Images/Background/contact\ us.png")  no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.5;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
#contact-box input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
     font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    background: black;
    color: red;
    padding: 10px 20px;
}

/* Utility Class*/
.h-primary{
    font-family:Georgia;
    font-size: 3.8rem;
    padding: 10px;

}
.h-secondary{
    font-family:'Gill Sans';
    font-size: 30px;
    padding: 10px;
}
.btn{
    padding: 6px 20px;
    border: 4px solid black;
    color: red;
    background-color: yellow;
    font-size: 20px;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
}
.centre{
    text-align: center;
}